body {
  /*border: 1px dashed navy;*/
  background-image: url("images/dark-triangles/dark-triangles.png");
  background-size: auto;
  /*Background image downloaded from www.subtlepatterns.com you can find more there! */
}

h1 {
  color: white;
  text-align: center;
}

div {
  /*border: 1px dashed red;*/
}

p{
  text-align: center;
}

#move-1A {
  text-align: right;
  /*border: 2px dashed yellow;*/
}

.race-space {
  height: 100px;
  /*border: 1px dashed green;*/
}
